
header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.ws-page {
  width: calc(100% - 4rem);
  height: calc(100% - 7rem);
  position: absolute;
}

#privacy-policy-link {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

/*** General styles *************************************/

input {
  width: 100%;
}

button {
  width: 100%;
}

button[disabled] {
  color: lightgray;
  border-color: lightgray;
}

/*** Styles for entry page where items are added ********/

#item-entry {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "new-entry-form"
    "content"
    "footer";
  align-content: start;
  height: 100%;
}

#item-entry #new-entry-form {
  grid-area: new-entry-form;
  padding-bottom: 2rem;
}

#item-entry #content {
  grid-area: content;
  overflow: scroll;
}

#item-entry footer {
  padding-top: 2rem;
}

#content ul {
  margin-left: -2rem;
  list-style: none;
}

#content li {
  display: grid;
  grid-template-columns: 2rem auto 140px;
  font-size: 2rem;
  border-bottom: solid 0.1rem lightgray;
}

#content li:last-child {
  border-bottom: none;
}

#content li span.value {
  grid-column: 2 / 3;
}

#content li button {
  grid-column: 3 / 4;
}

button.remove {
  margin-left: 2rem;
  right: 2rem;
  width: unset;
}

/*** Comparison styles **********************************/

#comparison {
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  grid-template-areas: 
    "header"
    "item"
    "item";
  height: 100%;
}

div.item {
  height: 100%;
  align-self: center;
  justify-self: stretch;
  width: 100%;
}

div.item .alternative-value {
  font-size: 3.5rem;
  cursor: pointer;
}

/*** Result presentation ********************************/

#result {
  display: grid;
  grid-template-rows: 10rem auto auto;
  grid-template-areas: 
    "header"
    "result"
    "footer";
  height: 100%;
}

#result #result-list {
  grid-area: result;
}

li.result-line {
  display: grid;
  grid-template-rows: 1fs 2fs;
  font-size: 3rem;
  border-bottom: solid 0.1rem lightgray;
  padding-bottom: 1rem;
}

li.result-line:last-child {
  border-bottom: none;
}

.result-line span.num-votes {
  grid-row: 1 / 2;
  font-size: 2rem;
}

.result-line span.value {
  grid-row: 2 / 3;
  font-size: 3rem;
}


#main {
  padding: 2rem;
  font-size: 2rem;

  height: calc(100% - 4rem);
  max-width: 500px;
  width: calc(100% - 4rem);
  position: absolute;
}

/*** Font stuff *****************************************/

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(/fonts/1Ptrg8zYS_SKggPNwIYqWqhPANqczVsq4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(/fonts/1Ptrg8zYS_SKggPNwIYqWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(/fonts/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(/fonts/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(/fonts/1Ptrg8zYS_SKggPNwPIsWqhPANqczVsq4A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(/fonts/1Ptrg8zYS_SKggPNwPIsWqZPANqczVs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}